<% include ./partials/header %>
<div class="ui main center container">
    <div class="ui huge header">
        <h1>RESTful Blog</h1>
        <div class="ui top attached segment">
            <div class="ui divided items">
                <% blogs.forEach(function(blog){ %>
                <div class="item">
                    <div class="image">
                        <img src="<%= blog.image %>">
                    </div>
                    <div class="content">
                        <a class="header" href="/blogs/<%= blog._id %>"><%= blog.title %></a>
                        <div class="meta">
                            <span><%= blog.created.toDateString() %></span>
                        </div>
                        <div class="description">
                            <p><%= blog.body%></p>
                        </div>
                        <div class="extra">
                            <a class="ui floated basic violet button" href="/blogs/<%= blog._id %>">
                                Read More
                            </a>
                        </div>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer %>